.card {
    border: 1px solid #ccc;
    border-radius: .8rem;
    padding: 1.3rem;
    margin: .8rem;
    text-align: center;
    width: 14rem;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #948979;
  }
  
  .card p {
    margin: 5px 0;
    color: #F5EFE6;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  }
  